[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "lib/known-folders"]
	path = lib/known-folders
	url = https://github.com/ziglibs/known-folders.git
[submodule "lib/zig-datetime"]
	path = lib/zig-datetime
	url = https://github.com/frmdstryr/zig-datetime.git
[submodule "lib/mecha"]
	path = lib/mecha
	url = https://github.com/Hejsil/mecha.git
